body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: floralwhite;
	background-color: #282b30;
}

#canvasContainer {
	height: 80vh;
}

#canvasContainer canvas {
	height: 100%;
	width: 100%;
	background-color: #2c2f33;
}

input {
	accent-color: #b7ff00;
}